<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{% t site.description %}"/>
    <meta name="keywords" content="{% t site.keywords %}"/>
    <title>TourHunter Help Center</title>
</head>
<body>
    <section>
        <div>
            <h2>How can we help?</h2>
            <p>Looking for something? Search it here!</p>
        </div>
    </section>
    <header>
        <a class="active" href="#">{{ site.languageNames[site.lang] }}</a>
        {% for lang in site.languageNames %}
        {% if lang[0] == site.lang %} {% continue %} {% endif %}
        {% if page.namespace %}
        <a href="{% tl {{ page.namespace }} {{ lang[0] }} %}">{{ lang[1] }}</a>
        {% else %}
        <a href="{{ site.baseurl_root }}/{{ lang[0] }}/">{{ lang[1] }}</a>
        {% endif %}
        {% endfor %}
    </header>
</body>
</html>
