<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="mb-4">Contribute</h5>
                <ul class="group-links">
                    <li><a href="#">Help with Articles</a></li>
                    <li><a href="#">Help with Translations</a></li>
                    <li><a href="https://github.com/tourhunter-com/help-tourhunter-com/issues" target="_blank">Request a New Feature</a></li>
                    <li><a href="https://github.com/tourhunter-com/help-tourhunter-com/issues" target="_blank">Report a Bug</a></li>
                    <li><a href="https://github.com/tourhunter-com/help-tourhunter-com/issues" target="_blank">Ask a Question</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="mb-4">About</h5>
                <ul class="group-links">
                    <li><a href="https://tourhunter.com" target="_blank">TourHunter</a></li>
                    <li><a href="https://team.tourhunter.com" target="_blank">Jobs</a></li>
                    <li><a href="https://api.tourhunter.com" target="_blank">API</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <div class="socials">
                    <a href="https://www.facebook.com/tourhuntercom" target="_blank"><img src="img/facebook-f-brands.svg" height="16" alt="Facebook"></a>
                    <a href="https://twitter.com/TourHunter_com" target="_blank"><img src="img/twitter-brands.svg" height="16" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/company/6457120/" target="_blank"><img src="img/linkedin-in-brands.svg" height="16" alt="LinkedIn"></a>
                </div>
                <p>
                    Copyright © 2015-2019 TourHunter.<br />All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{{'/assets/js/jquery-3.3.1.slim.min.js' | absolute_url }}"></script>
<script src="{{'/assets/js/bootstrap.bundle.min.js' | absolute_url }}"></script>
