<h6>{{ site.data.i18n[page.lang].articles.related }}</h6>
<ul class="group-links">
    {% if page.lang == "en" %}
        {% assign reviews = site.articles-en %}
    {% else %}
        {% assign reviews = site.articles-ru %}
    {% endif %}
    {%- for file in reviews -%}
        {%- for cat in page.tags -%}
            {%- if file.title == page.title -%}
                {% break %}
            {%- else -%}
                {%- if file.tags contains cat -%}
                    <li>
                        <a href="{{file.url}}">{{file.title}}</a>
                    </li>
                    {% break %}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
</ul>