body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue", "RobotoRegular", Arial;
    color: #2D4251;
    background-color: #F1F4F8;
}

a {
    color: #3899ed;
}

a:hover {
    color: #23527c;
}

.navbar {
    background-color: #fff !important;
}

.dropleft .dropdown-toggle::before {
    display: none;
}

.hero-wrapper {
    padding: 36px 16px;
    color: #fff;
    background-color: #39579A;
    text-align: center;
}

.hero-wrapper .form-group {
    max-width: 600px;
    margin-bottom: 0;
}

.hero-wrapper .form-group input::placeholder {
    color: #B4BDC2;
}

.highlighted {
    color: yellow;
}

.card {
    margin: 15px 0;
    border-color: none;
    border-radius: 6px;
    box-shadow: 0 2px 0 #e8eaeb;
}

.card-link {
    color: #2D4251;
    cursor: pointer;
}

.card-link:hover {
    color: #2D4251;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 18px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.card-text {
    font-size: 14px;
}

.row.card {
    flex-direction: row;
}

ul.group-links {
    margin: 0;
    padding: 0;
}

ul.group-links li {
    list-style-type: none;
}

footer {
    display: flex;
    align-items: center;
    padding: 62px 0;
    color: #fff;
    background-color: #39579A;
}
.form-search {
    position: relative;
}
.form-search .form-control {
    padding: 10px 30px;
}
.form-search .fa-search {
    position: absolute;
    color: #aaa;
    top: 10px;
    left: 10px;
}
@media (min-width: 1200px) {
    footer .container {
        max-width: 960px;
    }
}

footer .group-links li a {
    color: #fff;
}

.socials {
    display: flex;
    margin-bottom: 1rem;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    color: #39579A;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;

}

.socials a:hover {
    background-color: #eee;
}

.article-wrapper p img {
    max-width: 100%;
}

.card h2 {
    font-size: 24px;
}

.article-wrapper h2 {
    font-size: 20px;
    margin-top: 20px;
}

.article-wrapper h3 {
    font-size: 20px;
    margin-top: 20px;
}

.card-body {
    min-height: 157px;
}

.card {
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media (max-width: 350px) {
    .navbar .btn-group {
        margin-left: auto;
    }
}
