{% include header.html %}
<body>
    {% include navbar.html %}

    <div class="hero-wrapper">
        {% include search.html %}
    </div>
    <main class="p-md-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% include breadcrumbs.html %}
                    <div class="row card">
                        <div class="col-md-9 p-4">
                            <h4>{{ page.title }}</h4>
                            <p>Categories: </p>
                            {% for category in page.categories %}
                            {% capture category_slug %}{{category.title | slugize}}{% endcapture %}
                            <a href="{{site.baseurl}}/{{page.lang}}/category/{{category_slug}}"> <!-- wx: rm hardcode -->
                                {{ category }}
                            </a>
                            {% endfor %}
                            <br>
                            {{ content }}
                            <hr>
                            <h6>Related articles</h6>
                            <ul class="group-links"> <!-- wx: make it dynamic and reference the values from content -->
                                <li><a href="#">Creating a Tour Sechedule and Sessions</a></li>
                                <li><a href="#">How to setup Net Rates</a></li>
                                <li><a href="#">How to connect Agents</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 p-4 bg-light">
                            <h6>Articles in this category</h6> <!-- wx: and this too -->
                            <ul class="group-links">
                                <li><a href="#">Creating a Tour Sechedule and Sessions</a></li>
                                <li><a href="#">How to setup Net Rates</a></li>
                                <li><a href="#">How to connect Agents</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include footer.html %}
</body>
</html>
