
{% include header.html %}

<body>
{% include navbar.html %}
{% include hero.html %}
{% include breadcrumbs.html %}
<main class="p-md-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{site.data.i18n[page.lang].categories.category}}: {{page.category}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    {% assign posts=site.categories[page.category] | where:"ref", page.ref | sort: 'lang' %}
                    {% if posts.size > 0 %}
                        {% for post in posts %}
                            {% if post.lang == page.lang %}
                                <li>
                                    <a href="{{ post.url }}">{{ post.title }}</a>
                                </li>
                            {% else %}
                                <a href="">{{ site.lang }}</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No posts found for language: {{page.lang}} with ref: {{page.ref}}</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}

</body>
</html>
