---
layout: base
---

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Categories</h3>
        </div>
    </div>
    <div class="row">
        {% for category in site.data.categories.categories %}
        {% capture category_slug %}{{category.title | slugify}}{% endcapture %}
        <div class="col-md-3">
            <a href="/{{page.lang}}/category/{{category_slug}}.html" class="card card-link">
                <div class="card-body text-center" id="#{{ category_slug }}"> <!-- wx: switch to category slugs in config, bcs otherwise broken links may happen -->
                    <h5 class="card-title">
                        {{ category.title }}
                    </h5>
                    <p class="card-text">
                        {{category.desc}}
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
