
{% include header.html %}

<body>
    {% include navbar.html %}
<div class="hero-wrapper">
    <h2>{{ site.title[site.lang] }}</h2>
    <p>{{ site.data.i18n.[site.lang].site.description }}
    {% include search.html %}
</div>
<main class="p-md-5">
    <div class="container">
        <div class="row">
            {% assign categories = 'Bookings, Marketplace, Suppliers, Notifications, Billing, Languages, Customers, Agents, For Developers, Account, Admin Panel, Updates' | split: ',' %}
            {% for category in categories %}
            <div class="col-md-3">
                {% capture category_slug %}{{ category | slugify }}{% endcapture %}

                <a href="/{{category_slug}}.html" class="card card-link">
                    <div class="card-body text-center" id="#{{ category_name | slugize }}">
                        <h5 class="card-title">
                            {{ category }}
                        </h5>
                        <p class="card-text">
                            {{site.data.categories[category_slug].desc}}
                        </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% include footer.html %}

</body>
</html>
