---
layout: base
---
<div class="row">
    <div class="col">
	 {% include breadcrumbs.html %}
        <div class="row card">
            <div class="col-md-9 p-4">
                {% assign category_data = site.data.categories.categories[page.category] %}
                <h2>{{site.data.i18n[page.lang].categories.category}}: {{ category_data.title[page.lang] }}</h2>
                <p>
                    {{ category_data.desc[page.lang] }}
                </p>

                {% if page.lang == "en" %}
                    {% assign pages = site.articles-en %}
                {% else %}
                    {% assign pages = site.articles-ru %}
                {% endif %}

                {% assign subcategories = pages | where_exp: "item", "item.categories contains page.category" | group_by_exp: "item", "item.subcategories[page.category]" | sort: "name" %}
                {% if subcategories.size > 0 %}
                    {% for subcategory in subcategories %}
                        <div class="row mb-4">
                            <div class="col-md-12">
                                {% if subcategory.name %}
                                    <h3 class="h5">{{ category_data.subcategories[subcategory.name][page.lang] | default: subcategory.name }}</h3>
                                {% endif %}
                                <ul class="group-links">
                                    {% for pg in subcategory.items %}
                                        <li>
                                            <a href="{{ pg.url }}">{{ pg.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No pages found for language: {{page.lang}}</p>
                {% endif %}
            </div>
            <!-- Side menu -->
            <div class="col-md-3 p-4 bg-light">
                <h6>{{ site.data.i18n[page.lang].categories.morecategories }}</h6>
                <ul class="group-links">
                    {% for c in site.data.categories.categories %}
                    {% if c[0] != page.category %}
                    <li>
                        <a href="{{ site.baseurl }}/{{ page.lang }}/category/{{ c[0] }}">
                            {{ c[1].title[page.lang] }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>